# Firebase — jobkamer-dev
FIREBASE_API_KEY=your_api_key_here
FIREBASE_AUTH_DOMAIN=jobkamer-dev.firebaseapp.com
FIREBASE_PROJECT_ID=jobkamer-dev
FIREBASE_STORAGE_BUCKET=jobkamer-dev.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=your_sender_id
FIREBASE_APP_ID=your_app_id

# Environnement : dev | staging | prod
CURRENT_ENV=dev
